@font-face{
    font-family: 'iransans';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/iransans.ttf");
}
body ,h1 ,h2, h3,h4,h5,h6 , .h1, .h2, .h3, .h4, .h5 , .h6{
    font-family: iransans !important;
}
.navbar {
    box-shadow: 0 4px 18px 0 rgb(0 0 0 / 28%), 0 7px 10px -5px rgb(0 0 0 / 43%);
}

.form-check .form-check-label span {
    left: 0;
    right: -1px;
}

.form-check .form-check-sign {
    padding-left: 23px;
    padding-right: 0;
}

html[dir="rtl"] .form-check-label {
    padding-right: 1.5rem;
}

